html {
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columns with equal width */
  /* Gap between grid items */
  width: 90vw;
  max-width: 90vh;
}

/* Style the individual grid items (cells) */
.grid-item {
  border: 1px solid #818181; /* Border for each cell */
  padding: 0; /* Remove padding for a cleaner look */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  aspect-ratio: 1; /* Maintain a 1:1 aspect ratio */
  overflow: hidden; /* Hide overflow to ensure perfect squares */
  font-size: 3vw;
}